<h1 style="width: 100%; height: 40px; background-color: purple; color: white;">{{msg}}</h1>
<h1>this is login page</h1>
{{msg}}
<form action="{% url 'login' %}" method="post" enctype="multipart/form-data">
     {% csrf_token %}
<label for="email">Email:</label>
    <input type="email" name="email" value={{email}}>
    <br><br>
    <label for="password">Password:</label>
    <input type="password" name="password" value={{password}}>
    <br><br>
     <input type="submit" value="login">
     </form>